.comp-div {
  width: 400px;
  margin-inline: auto;
}

.meals-div {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.thumb-meal {
  max-width: 84px;
  border-radius: 16px;
  margin: 8px 8px;
}

.meal {
  width: 100px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
}

.meal p {
  margin-bottom: 13px;
  text-align: center;
}
