.comp-div {
  padding-inline: 1vw;
}

.meals-div {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.thumb-meal {
  border-radius: 16px;
  object-fit: cover;
}

.meal {
  width: 40vw;
  /* border: 1px solid black; */
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 5px 10px;
}

.meal p {
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .meal {
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  .meal {
    width: 20vw;
  }
}
