.home {
  padding-inline: 4vw;
}
.home h3 {
  margin-bottom: 12px;
}
/* ! Random Styling */
.random-meal-container {
  width: 265px;
}
.random-meal {
  background: url(../img/randomCard.png) no-repeat left;
  width: 265px;
  height: 175px;
  margin-bottom: 20px;
}

.random-meal {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  justify-content: end;
  gap: 8px;
}

.random-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.random-meal h4 {
  color: white;
  width: 200px;
}

.random-info p {
  color: white;
}

.random-info p:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.random-info p:nth-of-type(1)::before {
  content: url(../img/circlecategory.svg);
  margin-top: 5px;
}

/* !Area Styling */

.select-options {
  display: flex;
  justify-content: start;
  margin: 0 3.5vw;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  height: 80px;
}

.select-options::-webkit-scrollbar {
  overflow: hidden;
}

.select-options a {
  background-color: #f1f5f5;
  padding: 9px 24px;
  border-radius: 40px;
  color: black;
}

.select-options .active {
  background-color: #70b9be;
  color: white;
}

.select-options a:hover {
  background-color: #70b9be;
  color: white;
}

/* !Categories Styling */
.categories-home {
  display: flex;
  align-items: baseline;

  overflow-x: scroll;
}

.categories-home::-webkit-scrollbar {
  overflow: hidden;
}

.single-category {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 15px 15px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 15px 10px;
}

.single-category a {
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
  font-size: 16px;
  color: black;
  font-weight: 700;
}

.single-category a img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 30px;
}

/* !Searchbar Styling */
.suggestions {
  height: 0px;
  transition: 0s;
  position: relative;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
}

.show {
  height: 200px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 6%;
  top: 12.8%;
  transition: 0.35s;
  width: 90%;
  box-shadow: 0 10px 20px 1px rgba(188, 188, 188, 0.25);
}
.suggestions a {
  color: black;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.208);
  padding: 10px 5px;
}

.suggestion-items:hover {
  background-color: #70b9be;
  color: white;
}

.suggestion-items a:hover {
  color: white;
}

/* ! See all */
.see {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.see-all {
  color: #70b9be;
  font-size: 14px;
  font-weight: 700;
  padding-right: 20px;
}

.logo {
  background-color: #70b9be;
  width: 100vw;
  height: 5vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.logo img {
  scale: 1.5;
  margin-top: 5px;
}

.logo h6 {
  color: white;
  margin-top: 4px;
}

@media (min-width: 1440px) {
  .logo {
    height: 4vh;
  }
}
