.toggleklasse {
  display: none;
}
.instructions {
  margin: 1vw 3vw 5vw 3vw;
  padding-inline: 4vw;
  margin-top: -10px;

  margin-bottom: 10rem;
}
.instructions h3 {
  margin-bottom: 5vw;
}
.instructions div {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 5vw;
  border-radius: 10px;
}
.instructions p {
  font-weight: 400;
  line-height: 140%;
  white-space: pre-wrap;
}
