.splashscreen {
  background: url("../../../public/img/Pattern.svg") no-repeat center;
  background-size: contain;
  background-color: #70b9be;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  color: white;
}

.splashscreen div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splashscreen div img {
  animation: crown 3s ease-in-out infinite;
}

.splashscreen div h1 {
  animation: biggerText 3s ease-in-out infinite;
}

@keyframes crown {
  0%,
  100% {
  }
  25% {
    transform: rotateZ(20deg);
    scale: 1.2;
  }
  50% {
    transform: rotateZ(-20deg);
    scale: 1.2;
  }
}

@keyframes biggerText {
  0%,
  100% {
  }
  25% {
    transform: rotateZ(20deg);
    scale: 1.2;
  }
  50% {
    transform: rotateZ(-20deg);
    scale: 1.2;
  }
}
