.wrapper-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  max-width: 428px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}
.searchbar h3 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #0a2533;
}

.searchbar div {
  align-self: start;
  display: flex;
  gap: 90px;
}

.searchbar input {
  width: 327px;
  padding: 15px 52px;
  border-radius: 16px;
  border: 2px solid #e6ebf2;
  margin-bottom: 18px;
}

.searchbar input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  color: #97a2b0;
}

.searchbar label {
  position: relative;
}

.searchbar label::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 13px;
  bottom: 0;
  width: 20px;
  background: url("../../assets/search-bar-svg.svg") no-repeat;
}
