@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #0a2533;
}
html {
  font-family: Montserrat;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
